<h2 mat-dialog-title>{{data.playlist.listTitle}}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngFor='let song of data.songs'>
    <mat-card *ngIf='song.visibility'>
      <mat-card-title class='title'>
        <mat-icon>music_note</mat-icon>{{song.songTitle}}
      </mat-card-title>

      <mat-card-content>
        <span><label><b>Artist:</b></label> {{song.artist}}</span>
        <span><label><b>Album:</b></label> {{ song.album}}</span>
      </mat-card-content>
    </mat-card>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>OK</button>

</mat-dialog-actions>