.login-container{

    border: 1px solid gray;
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    margin:auto;
    margin-top: 100px;
}

.mat-form-field{
    display: inline;
    box-sizing: 5px;
}

.facebook-button{
    background:#4267B2;
    color:white;
    width: 100px;
    margin-left: 20px;
    
}
.submit-button{
    background:rgb(85, 214, 132);
    color:white;
    width: 100px;
}

.signup-button{
    width: 100px;
    background: rgb(199, 117, 117);
    color:white;
}
p,span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}