.search-bar{
    padding: 10px 10px;
    width: fit-content;
    margin:10px 0px 10px ;
    border: 1px solid #7c86bb;
    border-radius: 4px;
    align-self: center;
}

span{
    padding:10px 10px;
}

.plbutton{
    float:right;
    background: white;
    border: 1px solid #7c86bb;
    border-radius: 4px;
    cursor: pointer;
}
.mat-card{
    box-shadow: none;
    border-bottom: 1px solid #b5a0a0;
    border-radius: unset;
}

.mat-form-field{
    display: block;
    width: 50%;
}
.container{
    width:fit-content;
    margin: auto;
}