<section>
    <div class="container_style">
  
     <h3> <i>“Without music, life would be a mistake” ― Friedrich Nietzsche.</i></h3>
      <p> Music can change the World!</p>
      <p>
       Our platform will allow you to Browse through the treasure of songs and playlists and offers customize experience
       through personalized playlists!
       Contribute to the Music community by adding your songs and giving feedback to others!
      </p>

      <a [routerLink]="['/songsList']">
      <button mat-raised-button class = " button_style">Browse Songs!</button>
      </a>
    
    </div>
  </section>