<div class="login-container">
    <h3>Create Your Account!</h3>
        <mat-form-field appearance="outline">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Enter your Name" [formControl]="name" required>
                <mat-error *ngIf="email.invalid">{{getPasswordMessage()}}</mat-error>   
        </mat-form-field>
        <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" [formControl]="email" required>
                <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>   
        </mat-form-field>
        
        <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" [formControl]="password" required>  
                <mat-error *ngIf="password.invalid">{{getPasswordMessage()}}</mat-error>        
        </mat-form-field>
        <button mat-raised-button [disabled]="( !email.valid && password.errors)"  class= "submit-button" (click) = 'submit()'>Submit</button>
    </div>